.user-Info {
    position: relative;
    margin-left: 3%;
    margin-bottom: 15px;
    display: flex;
}

.user-text {
    margin-left: 6%;
}

.create-post-button{
    position: absolute;
    top: 0px;
    right: 0px;

}

.user-icon {
    height: auto;
    width: 150px;
    transition: transform 0.3s;
  }

  .posts_by_me .Post {
    display: flex;
      justify-content: center;
  }
  .posts_by_me .Post .PostBody {
    display: flex;
      left: 0px;
      top: 0px;
      padding: 50px;
      margin: 15px;
    width: 100%;
      height: 249.89999999999998px;
      background: rgba(217,217,217,1.00);
  }
  .posts_by_me .Post .UserAndText {
      margin-left: 30px;
    display: block;
  }
  .posts_by_me .Post .likeDislikeButtons {
      display: flex;
      width: 192.78px;
      height: 99.96px;
      object-fit: cover;
      overflow: hidden;
  }
  .posts_by_me .Post .imageContainer {
      display: flex; /*enables flex spacing, which is auto spacing*/
      justify-content: end; /*moves the contents to horizontally*/
      align-items: end; /*moves the contents vertically*/
      flex-grow: 1; /*all the remaining space when inside another flex space will be taken by this div*/
  }
  .posts_by_me .Post .Text {
    display: flex;
      margin-top: 30px;
      width: 461.71999999999997px;
      height: 42.839999999999996px;
      color: rgba(0,0,0,1.00);
      font-size: 25.699999999999996px;
      font-weight: 380;
      line-height: 43.20511116027832px;
  }
  .user {
    display: flex;
      left: 345.09999999999997px;
      top: 21.419999999999998px;
      width: 461.71999999999997px;
      height: 42.839999999999996px;
      color: rgba(0,0,0,1.00);
      font-size: 30.699999999999996px;
      font-weight: 400;
      line-height: 43.20511116027832px;
  }